[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
loguru = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
prod = 'python run.py prod'
dev = 'python run.py dev'
