[Service]
Type=simple
User=<username>
WorkingDirectory=/home/<username>/moviestar/web
ExecStart=/bin/npm run prod
Restart=on-failure
[Install]
WantedBy=multi-user.target
